<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/add_charity" method="POST">
	Name of the charity:<br>
	<input type="text" name="charity_name"> <br>
	Short description: <br>
	<input type="text" name="short_description"> <br> 
	url of the charity's website : <br>
	<input type="text" name="url"> <br>
	url of a picture: <br>
	<input type="text" name="pic1"> <br>
	url of another picture: <br>
	<input type="text" name="pic2"> <br>
	url of another picture: <br>
	<input type="text" name="pic3"> <br> <br>
	<input type="submit" name="submit">
	
</form>
</body>
</html>