<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<div class = "row">
  {% for charity in all_charities%}
    <a href="#{{charity.id}}">{{charity.name}}___________</a>
  {%endfor%}
</div>


{% for charity in all_charities%}
<div class = "row">
  <div class = "col-4" >
  <p>
    
  </p>

  <div > 
    <div>
      <a id="linki" href="{{url_for('charity_page', id = charity.id)}}">
      {{charity.name}}</a>
    </div>
    <br>
    <div id = pic1>  
    <img src="{{charity.pic1}}" width= 600" height="300">
    </div>
  <div class="col-4"> 
    <p></p>
  </div>

{%endfor%}
</body>
</html>