.linki
{
	text-align: center;
	size: 50px;

	font-family: "Courier", new body, serif;
}
.img-wrapper
{
	margin-left: 350px;
}

.navbar
{

}

.navitem
{
    /*background-color: #ff0000;*/
	margin: 30px;
}

.navitem a
{
	/*color: #00ff00;*/
}

.navitem a:hover
{
	background-color: #EFCECE;
	color:black;
}

#welcome
{
	text-align: center;
	font-weight: 10px;
	font-family: "Courier",new body,serif;
}

#add
{
	color: black;
	text-align: center;
	font-family: "Courier",new body,serif;
}
#add a:hover
{
	background-color:#EFCECE;
	color:black;
}

.navbar
{
	font-family: "Courier",new body,serif;
}